/*
 * MitoHPC2 configuration
 *
 * Based on:
 * MitoHPC2/scripts/init.sh
 *
 * Before running:
 *
 *   export HP_SDIR=/path/to/MitoHPC2/scripts
 *   source $HP_SDIR/init.sh
 *
 * Then:
 *
 *   nextflow run diagram11.nf -c nextflow.config
 */

params {

    /*
     * ------------------------------------------------------------
     * MitoHPC2 reference settings
     * ------------------------------------------------------------
     */

    HP_RNAME  = System.getenv('HP_RNAME')  ?: 'hs38DH'
    HP_RMT    = System.getenv('HP_RMT')    ?: 'chrM'
    HP_RNUMT  = System.getenv('HP_RNUMT')  ?:
                'chr1:629084-634672 chr17:22521208-22521639'
    HP_RCOUNT = System.getenv('HP_RCOUNT') ?:
                '3366'

    HP_RDIR   = System.getenv('HP_RDIR')

    HP_O      = System.getenv('HP_O')      ?: 'Human'

    HP_MT     = System.getenv('HP_MT')     ?: 'chrM'
    HP_MTC    = System.getenv('HP_MTC')    ?: 'chrMC'
    HP_MTR    = System.getenv('HP_MTR')    ?: 'chrMR'
    HP_MTLEN  = System.getenv('HP_MTLEN')  ?: '16569'
    HP_NUMT   = System.getenv('HP_NUMT')   ?: 'NUMT'


    /*
     * ------------------------------------------------------------
     * Processing parameters
     * ------------------------------------------------------------
     */

    HP_E      = System.getenv('HP_E')      ?: '300'
    HP_CN     = System.getenv('HP_CN')     ?: '1'
    HP_L      = System.getenv('HP_L')      ?: '222000'

    HP_FOPT   = System.getenv('HP_FOPT')   ?: '-q 15 -e 0'
    HP_DOPT   = System.getenv('HP_DOPT')   ?: '--removeDups'
    HP_GOPT   = System.getenv('HP_GOPT')   ?: ''

    HP_M      = System.getenv('HP_M')      ?: 'mutect2'
    HP_I      = System.getenv('HP_I')      ?: '2'

    HP_T1     = System.getenv('HP_T1')     ?: '03'
    HP_T2     = System.getenv('HP_T2')     ?: '05'
    HP_T3     = System.getenv('HP_T3')     ?: '10'

    HP_DP     = System.getenv('HP_DP')     ?: '25'
    HP_V      = System.getenv('HP_V')      ?: ''
    HP_FRULE  = System.getenv('HP_FRULE')  ?: 'tee'


    /*
     * ------------------------------------------------------------
     * Java / resource settings
     * ------------------------------------------------------------
     */

    HP_P      = System.getenv('HP_P')      ?: '1'
    HP_MM     = System.getenv('HP_MM')     ?: '3G'
    HP_JOPT   = System.getenv('HP_JOPT') ?:
                "-Xms${HP_MM} -Xmx${HP_MM} -XX:ParallelGCThreads=${HP_P}"


    /*
     * ------------------------------------------------------------
     * Input / output
     * ------------------------------------------------------------
     */

    HP_FDIR   = System.getenv('HP_FDIR')   ?: "${projectDir}/fastq/"
    HP_ADIR   = System.getenv('HP_ADIR')   ?: "${projectDir}/bams/"
    HP_ODIR   = System.getenv('HP_ODIR')   ?: "${projectDir}/out/"
    HP_IN     = System.getenv('HP_IN')     ?: "${projectDir}/in.txt"


    /*
     * ------------------------------------------------------------
     * Pipeline-specific inputs
     *
     * These are not defined by init.sh.
     * Supply them with -params-file or another config.
     * ------------------------------------------------------------
     */

    reference       = null
    mt_reference    = null
    mtc_reference   = null
    mtr_reference   = null
    numt_reference  = null
    mt_fai          = null
    header_vcf      = null


    /*
     * Variant-calling parameters used by diagram11.nf.
     *
     * MINAF and MAXDP are NOT defined in init.sh.
     * Keep them explicit rather than pretending they came
     * from MitoHPC2.
     */

    MINAF = null
    MAXDP = null
}


/*
 * ================================================================
 * Process resources
 * ================================================================
 */

process {

    cpus = params.HP_P as Integer
    memory = params.HP_MM

    withName: ALIGN_REFERENCE {
        cpus = 4
        memory = '8 GB'
    }

    withName: INDEX_ALIGNMENT {
        cpus = 2
        memory = '4 GB'
    }

    withName: COMPUTE_ALIGNMENT_STATS {
        cpus = 1
        memory = '2 GB'
    }

    withName: COMPUTE_MTDNA_COPY_NUMBER {
        cpus = 1
        memory = '2 GB'
    }

    withName: CALCULATE_SUBSAMPLING_RATE {
        cpus = 1
        memory = '1 GB'
    }

    withName: SUBSAMPLE_AND_TRIM {
        cpus = 4
        memory = '8 GB'
    }

    withName: REALIGN_CIRCULARIZED_MT {
        cpus = 4
        memory = '8 GB'
    }

    withName: REALIGN_NUMTS {
        cpus = 4
        memory = '8 GB'
    }

    withName: SELECT_MT_READS {
        cpus = 1
        memory = '2 GB'
    }

    withName: FILTER_MT_ALIGNMENTS {
        cpus = 4
        memory = '8 GB'
    }

    withName: COMPUTE_MT_COVERAGE {
        cpus = 2
        memory = '4 GB'
    }

    withName: IDENTIFY_SPLIT_ALIGNMENTS {
        cpus = 2
        memory = '4 GB'
    }

    withName: CALL_SNVS_MUTECT2 {
        cpus = 4
        memory = '8 GB'
    }

    withName: CALL_SNVS_MUTSERVE {
        cpus = 2
        memory = '4 GB'
    }

    withName: CALL_SNVS_FREEBAYES {
        cpus = 2
        memory = '4 GB'
    }

    withName: CALL_SNVS_VARSCAN {
        cpus = 2
        memory = '4 GB'
    }

    withName: CALL_SNVS_BCFTOOLS {
        cpus = 2
        memory = '4 GB'
    }

    withName: NORMALIZE_SNVS {
        cpus = 1
        memory = '2 GB'
    }

    withName: IDENTIFY_DOMINANT_SNVS {
        cpus = 1
        memory = '2 GB'
    }

    withName: STANDARDIZE_SNVS {
        cpus = 1
        memory = '2 GB'
    }

    withName: ANNOTATE_SNVS {
        cpus = 1
        memory = '2 GB'
    }

    withName: IDENTIFY_HAPLOGROUP {
        cpus = 1
        memory = '2 GB'
    }

    withName: CHECK_CONTAMINATION {
        cpus = 1
        memory = '2 GB'
    }

    withName: COMPUTE_SAMPLE_MT {
        cpus = 1
        memory = '2 GB'
    }

    withName: INDEX_SAMPLE_MT {
        cpus = 2
        memory = '4 GB'
    }
}


/*
 * ================================================================
 * Executor
 * ================================================================
 *
 * This matches init.sh:
 *
 *     HP_SH="bash"
 *
 * For SLURM, use:
 *
 *     process.executor = 'slurm'
 *
 */

process.executor = 'local'


/*
 * ================================================================
 * Output / reports
 * ================================================================
 */

timeline {
    enabled = true
    file = "${params.HP_ODIR}/timeline.html"
}

report {
    enabled = true
    file = "${params.HP_ODIR}/report.html"
}

trace {
    enabled = true
    file = "${params.HP_ODIR}/trace.txt"
}

dag {
    enabled = true
    file = "${params.HP_ODIR}/dag.html"
}
